
.bd1{
    width: 320px;
    height: 320px;
    }
.bd2{
    width: 320px;
    height: 320px;
    margin-left: 320px;
}
.bd3{
    width: 320px;
    height: 320px;
    margin-left: 320px;
}
.bd4{
    width: 320px;
    height: 320px;
      
}
.bd5{
    width: 320px;
    height: 320px;
    margin-left: 320px;
}
